/* Reset default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
}

/* Body styling */
body {
    background-color: aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Main container styling */
main {
    display: flex;
    flex-direction: column;
}

/* Header styling */
.columns-container-0 {
    background-color: slategray;
    height: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Remove default underline style for links */
a {
    text-decoration: none;
}

/* Navigation menu styling */
.header {
    display: flex;
    list-style-type: none;
    margin-top: 65px;
}

.header li {
    margin-left: 90px;
    font-size: 24px;
    border-bottom: 3px solid lightblue;
    text-decoration: none;
}

/* Site title styling */
.Lernantino {
    background-color: lightblue;
    height: 63px;
    width: 405px;
    text-align: end;
    margin-top: 15px;
    font-size: 50px;
    padding: 20px;
}

/* Hero section styling */
hero {
    position: relative;
}

hero img {
    width: 100%;
    height: 250px;
}

hero h1 {
    position: absolute;
    bottom: 25px;
    background-color: lightblue;
    right: 20px;
    padding: 15px;
}

/* About Me Section styling */
.columns-container-1 {
    display: flex;
    margin-bottom: 40px;
}

.columns-container-1 h1,
.columns-container-1 p {
    padding: 10px;
}

/* Work Section styling */
.columns-container-2 {
    margin-bottom: 200px;
}
